#about {
    position: relative;
    width: 100%;
    background-image: linear-gradient(
            180deg,
            rgba(244, 244, 244, 0.75) 0%,
            rgba(244, 244, 244, 0) 100%
        ),
        url("../img/background-about.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-container {
    position: relative;
    height: 25vw;

    .header-svg {
        height: 100%;
        width: 100%;
    }
    .container {
        @include flex(center, center, column);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 $left-right-margin;
        margin-bottom: 5%;
        .about-title {
            color: $primary-font-color;
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1%;
        }
        .about-comment {
            color: $primary-font-color;
            margin: 0 5vw;
            text-align: center;
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}
// Skills
.skills-container {
    position: relative;
    margin: 3% $left-right-margin;
    @include flex(center, center, row);
    flex-wrap: wrap;
    .skills {
        width: 40vw;
        background: $secondary-color;
        border-radius: 1rem;
        padding: 1rem;
        margin-right: 5rem;

        .title {
            font-size: 2.4rem;
            font-weight: 700;
            color: $primary-font-color;
        }

        .description {
            color: $primary-font-color;
            line-height: 2.6rem;
            margin-top: 1.5rem;
        }
    }
    .skills-graph {
        width: 30vw;
        padding: 0 1vw;
    }
}
