@media only screen and (max-width: 600px) {
    .skills-container {
        margin: 5% 10%;
    }

    .portfolio-container {
        @include flex(space-between, center, column);
        .item-container-1,
        .item-container-2,
        .item-container-3,
        .item-container-4,
        .item-container-5 {
            margin: 3% 0;
            width: calc(22vw * 3);
            height: calc(13vw * 3);
        }
    }

    //Message
    .message {
        margin: 4vw $left-right-margin;
        .row {
            input {
                height: 6vw;
                width: 40vw;
            }

            input:last-child {
                margin-right: 0;
            }
        }

        textarea {
            height: 15vw;
            width: 82vw;
        }
    }
}
